body, p, ul, li, ol {
  font-size: 20px;
  line-height: 1.6;
}

img {
  max-width: 90%;
  max-height: 400px;
}

img[alt~="2c"] {
  width: 45%;
  float:left;
  margin-right: 60px;
  margin-bottom: 60px;
}

### Start of putting H3 elements in side bar, doesn't work quite right yet
### overlapping elements if more than one H3, offsets the left text if a br /
### is used.  Overall don't use... yet.
h3 {
  font-size: 120%;
  font-weight: bold;
  float: left;
  align: right;
  margin-left: -110px;
  #padding-right: 20px;
  width: 60px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.slide p {
  margin-bottom: 0px;
}

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
}
