body, p, ul, li, ol {
  font-size: 20px;
  line-height: 1.6;
}

img {
  max-width: 90%;
  max-height: 400px;
}

img[alt~="2c"] {
  width: 45%;
  float:left;
  margin-right: 60px;
  margin-bottom: 60px;
}

.slide p {
  margin-bottom: 0px;
}
